{% extends 'index.twig' %}
{% block pagetitle %} ÜSTÜNLÜKLƏRİMİZ {% endblock %}

{% block content %}
    <div id="Wrapper">
        <div id="Content">
            <div class="container">
                <div class="content">
                    <div class="the_content the_content_wrapper">
                        <h2>{{ data.pagetitle }}</h2>
                        {{ data.pagetext |raw }}
                    </div>
                </div>

                <div class="four columns">
                    <div class="widget-area clearfix">
                        <aside id="widget_mfn_menu-3" class="widget widget_mfn_menu">
                            <ul class="menu">
                                <li class="page_item {% if is_current_path('shirket') %} current_page_item {% endif %}">
                                    <a href="{{ path_for('shirket') }}">ŞİRKƏT HAQQINDA
                                        <i class="icon-angle-right"></i></a>
                                </li>
                                <li class="page_item {% if is_current_path('ustunluklerimiz') %} current_page_item {% endif %}">
                                    <a href="{{ path_for('ustunluklerimiz') }}">ÜSTÜNLÜKLƏRİMİZ
                                        <i class="icon-angle-right"></i></a>
                                </li>
                                <li class="page_item {% if is_current_path('lisenziya') %} current_page_item {% endif %} last">
                                    <a href="{{ path_for('lisenziya') }}">LİSENZİYALARIMIZ
                                        <i class="icon-angle-right"></i></a>
                                </li>
                            </ul>
                        </aside>
                        <div class="widget-area-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}